RewriteEngine on

# Serve resources from root directories for French pages
RewriteRule ^fr/skin/(.*)$ /skin/$1 [L]
RewriteRule ^fr/download/(.*)$ /download/$1 [L]

# Redirect old PHP files with language parameters (made by ugly web scrape)
# test:
# https://libregraphicsmeeting.org/2009/index.php-lang=fr.html → https://libregraphicsmeeting.org/2009/fr/index.html
# https://libregraphicsmeeting.org/2009/location.php-lang=fr.html → https://libregraphicsmeeting.org/2009/fr/location.html
# https://libregraphicsmeeting.org/2009/location.php-lang=en.html → https://libregraphicsmeeting.org/2009/location.html
# https://libregraphicsmeeting.org/2009/location.php.html → https://libregraphicsmeeting.org/2009/location.html
RewriteRule ^(.+)\.php-lang=en\.html$ /$1.html [L,R=301]
RewriteRule ^(.+)\.php\.html$ /$1.html [L,R=301]
RewriteRule ^(.+)\.php-lang=fr\.html$ /fr/$1.html [L,R=301]

# Redirect query string language parameters
# test:
# https://libregraphicsmeeting.org/2009/index.html?lang=fr → https://libregraphicsmeeting.org/2009/fr/index.html
# https://libregraphicsmeeting.org/2009/location.html?lang=fr → https://libregraphicsmeeting.org/2009/fr/location.html
# https://libregraphicsmeeting.org/2009/location.html?lang=en → https://libregraphicsmeeting.org/2009/location.html
# https://libregraphicsmeeting.org/2009/location.html → https://libregraphicsmeeting.org/2009/location.html
# https://libregraphicsmeeting.org/2009/fr/location.html?lang=fr → https://libregraphicsmeeting.org/2009/fr/location.html

# Already in correct language directory - just remove query string
RewriteCond %{QUERY_STRING} ^lang=fr$
RewriteRule ^fr/(.+)\.html$ /fr/$1.html? [L,R=301]

RewriteCond %{QUERY_STRING} ^lang=en$
RewriteRule ^([^/]+)\.html$ /$1.html? [L,R=301]

# Not in correct directory - redirect to correct directory
RewriteCond %{QUERY_STRING} ^lang=fr$
RewriteRule ^([^/]+)\.html$ /fr/$1.html? [L,R=301]

RewriteCond %{QUERY_STRING} ^lang=en$
RewriteRule ^fr/(.+)\.html$ /$1.html? [L,R=301]

# Redirect old PHP files without language parameters
RewriteCond %{THE_REQUEST} \ /(.+)\.php(\.html)?
RewriteRule ^ /%1.html [L,R=301]
